.blackjack-table {
    border-top: 1px solid white;
    margin: 15px 0 45px;
    padding-bottom: 100px;
    position: relative;
}
.betting-squares {
    background: url(../images/blackjack-table-design.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 100px 0 0;
    margin: auto;
    width: 1120px;
	height: 500px;
}
.dot {
	position: absolute;
	background:white;
	width: 10px;
	height: 10px;
	left:50%;
	margin-left:-3px;
	bottom:165px;
}
.hide-count {
    display: none;
}
.bet-message {
    color: #ff5454;
    font-size: 17px;
    padding-bottom: 10px;
}
.dealing-start-point {
    border: 3px solid white;
    right: 60px;
    top: 25px;
    margin-left: -50px;
    width: 60px;
    height: 90px;
}